table{
    width: 50%; 
    text-align: center;
    font: 15px Tahoma;
    margin: 0 auto;
}
h1{
    font-family: 15px Tahoma;
    padding-left: 60px;
    background-color: cornflowerblue;
    color: azure;
}
th{
    text-align:center;
    padding-top: 30px;
    padding-bottom:20px;
}
td{
    text-align:right;
    padding-top: 40px;
    padding-bottom:10px;
    padding-left: 60px;
    padding-right: 10px;
}
#day{
   
    background-color:cornflowerblue;
}

td:hover{ background-color:lightblue}